<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="css/level3.css">
 <title>Document</title>
</head>

<body>
 
 <video id="myVideo" autoplay loop muted >
 <source src="video/hh.mp4" type="video/mp4">
 <!-- <h1 style="color: blanchedalmond;">apple</h1> -->
 </video>
 <img src="image/IETE LOGO WHITE.png" alt="" width="90" height="90" style="margin-top: 2vh;"> 

 <!-- <h1 class="glitch ml-auto event1" data-text="LEVEL 1">LEVEL 1</h1> -->
 <div class="container" style="border: 2px ; text-align: left; margin-top:10vh;">
 <h2 style="color: rgb(253, 253, 253); font-size: x-large;" id="te" >I belong to a team whose current name was initially an unofficial nickname given to it by a Sports Editor.(yvhg urvowrmt hslighglk) I play a sport in which the ball can't be touched by the offensive team.</h2>
 <input type="text" id="he" style="color: black; margin-left:10vh;">
 <button onclick="f1()" id="but">go</button>
 <button id="hint11" class="hin" onclick="f5()">hint1</button>
 <button id="hint12" class="hin" onclick="f3()">hint2</button>
 <button id="hint13" class="hin" onclick="f6()">hint3</button>
 
 <button id="hint21" class="hin" onclick="f4()">hint1</button>
 <button id="hint22" class="hin" onclick="f2()">hint2</button>
 <button id="hint23" class="hin" onclick="f9()">hint3</button>
 
 <!-- <p id="show" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vel, quidem nobis, temporibus fugit voluptates quibusdam minus fuga iure consequatur dolore molestias aliquid velit nisi et assumenda. Earum, ratione accusamus.</p> -->
 <br>
 <br>
 
 <h2 id="show" style="color: rgb(255, 255, 255); font-size: medium; font-weight: bolder; "></h2>
 <br>
 
 <h2 id="s2" style="color: rgb(255, 255, 255); font-size: medium; font-weight: bolder; " ></h2>
 <br>
 <h2 id="show1" style="color: rgb(255, 255, 255); font-size: medium; font-weight: bolder;"></h2>
 
 <img src="image/hint 2.jpg" alt="" id="show4" class="hin" width="120">
 
 <audio src="sound/Level2 (1).mpeg" id="showa"></audio>
</body>
<script src="js/level3.js"></script>
 
</html>