html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;


}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  outline: none;

}

.form-signin .checkbox {
  font-weight: 400;
  outline: none;
}

.form-signin .form-floating:focus-within {
  z-index: 1;
outline: none;
}

.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
}

.middle{
  margin-bottom: -1px;
  border-radius: 0;
  outline: none;
}


.bottom{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
video {
object-fit: cover;
width: 100%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background-size: cover;
}
*:focus {
    outline: none;
}
.whitetext{
  color:white;
}
